:root {
    --button-color: #28d2d0;
}

.LoginComponent {
    width: 555px;
    padding: 0px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.miniWrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}