.header {
  width: 800px;
  height: 100px;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.toggle {
  width: 100px;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  }

a {
  text-decoration: none;
  color: white;
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}